{{define "timeline"}}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .customTooltip {
            padding:5px 5px 5px 5px;
            font-size: medium;
        }

    </style>
    <script type="text/javascript" >

        function createCustomHTMLContent(text) {
            return '<div class="customTooltip">' + text + '</div>';
        }

        // @formatter:off
        const tableData = [
            {{ range $i, $e := $.Events -}}
            {{- range $j, $s := $e.Slices -}}
            ['{{ $e.ID }}', {v: '{{ $s.Operation }}', p: {link: 'https://app.datadoghq.com/logs?query=trace_id%3A{{ $e.ID }}&from_ts={{$.MinimalTs}}'}}, createCustomHTMLContent('{{$s.Tooltip}}'), new Date({{$s.Begin}}), new Date({{$s.End}}) ],
            {{ end }}
            {{ end }}
        ];
        // @formatter:on
    </script>
    <script type="text/javascript">
        const rowLabelColor = '#3399cc';
        const options = {
            timeline: {
                singleColor: '#8d8',
                rowLabelStyle: {
                    color: rowLabelColor
                }
            },
        };

        google.charts.load('current', {'packages': ['timeline']});
        google.charts.setOnLoadCallback(drawChart);

        function readyHandler(container, dataTable) {
            var labels = container.getElementsByTagName('text');
            Array.prototype.forEach.call(labels, function (label) {
                if (label.getAttribute('fill') === rowLabelColor) {
                    label.addEventListener('click', (sender) => clickHandler(sender.target.textContent, dataTable));
                    label.setAttribute('style', 'cursor: pointer; text-decoration: underline;');
                }
            });
        }

        function clickHandler(rowLabel, dataTable) {
            var dataRows = dataTable.getFilteredRows([{
                column: 0,
                value: rowLabel
            }]);
            if (dataRows.length > 0) {
                var link = dataTable.getProperty(dataRows[0], 1, 'link');
                window.open(link, '_blank');
            }
        }

        function drawChart() {
            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            var dataTable = new google.visualization.DataTable();
            google.visualization.events.addListener(chart, 'ready', (e) => readyHandler(container, dataTable));
            dataTable.addColumn({type: 'string', id: 'Trace'});
            dataTable.addColumn({type: 'string', id: 'Operation'});
            dataTable.addColumn({type: 'string', role: 'tooltip', 'p': {'html': true}});
            dataTable.addColumn({type: 'date', id: 'Start'});
            dataTable.addColumn({type: 'date', id: 'End'});
            dataTable.addRows(tableData);
            dataTable.sort([{column: 3, desc: false}]);
            chart.draw(dataTable, options);
        }
    </script>
</head>
<body>
<div id="timeline" style="height: 800px;"></div>
</body>
</html>
{{ end }}